.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.gallery_item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.red {
    background-color: red;
}